{%load static%}

<section class="page__contacts contacts">
    <div class="contacts__container-big">
        <div class="contacts__container">
            <div class="contacts__wrapper">
                <div class="contacts__lable">
                    <div class="contacts__lable__wrapper">
                        <p class="contacts__lable__email">furniturefory@gmail.com</p>
                        <div class="contacts__lable__phone-items">
                            <p class="contacts__lable__item">+38 (099) 000 00 00</p>
                            <p class="contacts__lable__item">+38 (099) 000 00 00</p>
                        </div>
                    </div>
                </div>
                <div class="contacts__body">
                    <div class="contacts__body__wrapper">
                        <div class="contacts__body__header">
                            <h1 class="contacts__body__header__lable">Залишіть заявку на консультацію</h1>
                            <p class="contacts__body__header__text">Заповніть форму нижче, щоб залишити заявку на
                                консультацію.</p>
                            <p class="contacts__body__header__text">Ми зв'яжемося з Вами якнайшвидше.</p>
                        </div>
                        <div class="contacts__body__form">
                            <form id="contact_form" action="" method="post" class="form">
                                <div class="form__wrapper">
                                    {%csrf_token%}
                                    {{form.firstname}}
                                    {{form.phone_number}}
                                    <div id="handler" class="form__handler"></div>
                                </div>
                                <button type="submit" class="form__button">залишити заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).on("submit", "#contact_form", function(event) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "{%url 'landing'%}",
            dataType: "json",
            data: {
                firstname: $("#firstname").val(),
                phone_number: $("#phone_number").val(),
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function (response) {
                var validate = response["success"];
                var handler = $("#handler")
                if (validate) {
                    handler.removeClass("form__handler__error")
                    var info = handler.addClass("form__handler__info")
                }
                else {
                    handler.removeClass("form__handler__info")
                    var error = handler.addClass("form__handler__error")
                }
                handler.html(response["message"])
            },
        })
    })
</script>
</section>