@use "sass:math";

@import "base/mixins.scss";

@import "fonts/fonts";
@import "fonts/icons";

@import "base/variables.scss";
@import "base/reset.scss";


html {
	scroll-behavior: smooth;
}

body {
    background-color: $mainColor;
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    .loaded & {
    }
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    > main {
        flex: 1 1 auto;
    }
    > * {
        min-width: 0;
    }
}

.page {
    &__main {
        @include adaptiveValue("padding-right", 72, 8);
        @include adaptiveValue("padding-left", 72, 8);
    }
}

[class*="__container"] {
    max-width: rem(1178);
    box-sizing: content-box;
    @include adaptiveValue("margin-left", 56, 32);
    @include adaptiveValue("margin-right", 56, 32);
}

[class*="__container-big"] {
    @if ($maxWidthContainer>0) {
        max-width: rem($maxWidthContainer);
        box-sizing: content-box;
        margin: 0 auto;
        color: $whiteColor;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }

@import "about_us.scss";
@import "banner.scss";
@import "contacts.scss";
@import "footer.scss";
@import "header.scss";
@import "why_we.scss";
@import "common.scss"